<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <PropertyGroup>
    <LangVersion>8.0</LangVersion>
    <!-- Или выше, если вам нужна более новая версия -->
  </PropertyGroup>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>